<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <h1> Admin Home page</h1>
    <hr>
    <a href="/admin/adminlogin">Home</a> |
    <a href="/admin/viewAllUsers">View Users</a> |
    <a href="/signout">Logout</a>
    <hr>
    <div>
        <h2>This is admin Page</h2>
    </div>
    </center>
</body>
</html>